<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>articleViewFontName</key>
	<string>Optima</string>
	<key>articleViewFontSize</key>
	<integer>10</integer>
	<key>eagerMetadataQueryThreshold</key>
	<integer>5</integer>
	<key>batchImportCap</key>
	<string>500</string>
	<key>shouldBackUpDatabaseInTimeMachine</key>
	<true/>
	<key>UpdaterWillFollowUnstableVersions</key>
	<false/>
	<key>universityLibraryToGetPDF</key>
	<string>None</string>
	<key>regExpsForUniversityLibrary</key>
	<dict>
		<key>IAS</key>
		<array>
			<string>http://</string>
			<string>https://libserv7.princeton.edu:82/ias/nph-pul2.cgi/000000A/http/</string>
		</array>
		<key>None</key>
		<array>
			<string>http://</string>
			<string>http://</string>
		</array>
	</dict>
	<key>tryToDownloadJournalPDF</key>
	<true/>
	<key>AIPJournals</key>
	<array>
		<string>J.Math.Phys.</string>
	</array>
	<key>SpringerJournals</key>
	<array>
		<string>Commun.Math.Phys.</string>
		<string>Comm.Math.Phys.</string>
	</array>
	<key>APSJournals</key>
	<array>
		<string>Phys.Rev.</string>
		<string>Phys.Rev.Lett.</string>
		<string>Rev.Mod.Phys.</string>
	</array>
	<key>ElsevierJournals</key>
	<array>
		<string>Phys.Lett.</string>
		<string>Nucl.Phys.</string>
		<string>Nucl.Phys.Proc.Suppl.</string>
		<string>Annals Phys.</string>
		<string>Ann.Phys.</string>
		<string>Phys.Rept.</string>
	</array>
	<key>htmlTeXRegExps</key>
	<array>
		<array>
			<string>-+&gt;</string>
			<string>→</string>
		</array>
		<array>
			<string>\*\*</string>
			<string>^</string>
		</array>
		<array>
			<string>\+-</string>
			<string>±</string>
		</array>
		<array>
			<string>([^\\$])_\{([^\}]*)\}</string>
			<string>$1&lt;sub&gt;$2&lt;/sub&gt;</string>
		</array>
		<array>
			<string>([^\\$])_(.)</string>
			<string>$1&lt;sub&gt;$2&lt;/sub&gt;</string>
		</array>
		<array>
			<string>([^\\$])\^\{([^\}]*)\}</string>
			<string>$1&lt;sup&gt;$2&lt;/sup&gt;</string>
		</array>
		<array>
			<string>([^\\$])\^(.)</string>
			<string>$1&lt;sup&gt;$2&lt;/sup&gt;</string>
		</array>
		<array>
			<string>\$([^\$]+)\$</string>
			<string>&lt;span class=&quot;equation&quot;&gt;$1&lt;/span&gt;</string>
		</array>
		<array>
			<string>\\&quot;([aeiou])</string>
			<string>&amp;$1uml;</string>
		</array>
		<array>
			<string>\\&apos;([aeiou])</string>
			<string>&amp;$1acute;</string>
		</array>
		<array>
			<string>``</string>
			<string>“</string>
		</array>
		<array>
			<string>&apos;&apos;</string>
			<string>”</string>
		</array>
		<array>
			<string>-+&amp;gt;</string>
			<string>→</string>
		</array>
		<array>
			<string>N=([01-9]+)</string>
			<string>&lt;span style=&quot;font-style:italic&quot;&gt;N&lt;/span&gt;=$1</string>
		</array>
	</array>
	<key>htmlTeXMacrosWithoutArguments</key>
	<dict>
		<key>alpha</key>
		<string>α</string>
		<key>beta</key>
		<string>β</string>
		<key>gamma</key>
		<string>γ</string>
		<key>delta</key>
		<string>δ</string>
		<key>epsilon</key>
		<string>ε</string>
		<key>zeta</key>
		<string>ζ</string>
		<key>eta</key>
		<string>η</string>
		<key>theta</key>
		<string>θ</string>
		<key>iota</key>
		<string>ι</string>
		<key>kappa</key>
		<string>κ</string>
		<key>lambda</key>
		<string>λ</string>
		<key>mu</key>
		<string>μ</string>
		<key>nu</key>
		<string>ν</string>
		<key>xi</key>
		<string>ξ</string>
		<key>pi</key>
		<string>π</string>
		<key>rho</key>
		<string>ρ</string>
		<key>sigma</key>
		<string>σ</string>
		<key>tau</key>
		<string>τ</string>
		<key>upsilon</key>
		<string>υ</string>
		<key>phi</key>
		<string>φ</string>
		<key>chi</key>
		<string>χ</string>
		<key>psi</key>
		<string>ψ</string>
		<key>omega</key>
		<string>ω</string>
		<key>Alpha</key>
		<string>Α</string>
		<key>Beta</key>
		<string>Β</string>
		<key>Gamma</key>
		<string>Γ</string>
		<key>Delta</key>
		<string>Δ</string>
		<key>Epsilon</key>
		<string>Ε</string>
		<key>Zeta</key>
		<string>Ζ</string>
		<key>Eta</key>
		<string>Η</string>
		<key>Theta</key>
		<string>Θ</string>
		<key>Iota</key>
		<string>Ι</string>
		<key>Kappa</key>
		<string>Κ</string>
		<key>Lambda</key>
		<string>Λ</string>
		<key>Mu</key>
		<string>Μ</string>
		<key>Nu</key>
		<string>Ν</string>
		<key>Xi</key>
		<string>Ξ</string>
		<key>Pi</key>
		<string>Π</string>
		<key>Rho</key>
		<string>Ρ</string>
		<key>Sigma</key>
		<string>Σ</string>
		<key>Tau</key>
		<string>Τ</string>
		<key>Upsilon</key>
		<string>Υ</string>
		<key>Phi</key>
		<string>Φ</string>
		<key>Chi</key>
		<string>Χ</string>
		<key>Psi</key>
		<string>Ψ</string>
		<key>Omega</key>
		<string>Ω</string>
		<key>partial</key>
		<string>∂</string>
		<key>to</key>
		<string>→</string>
		<key>infty</key>
		<string>∞</string>
		<key>oplus</key>
		<string>⊕</string>
		<key>otimes</key>
		<string>⊗</string>
		<key>le</key>
		<string>≤</string>
		<key>ge</key>
		<string>≥</string>
		<key>ne</key>
		<string>≠</string>
		<key>neq</key>
		<string>≠</string>
		<key>leq</key>
		<string>≤</string>
		<key>geq</key>
		<string>≥</string>
		<key>ll</key>
		<string>≪</string>
		<key>gg</key>
		<string>≫</string>
		<key>pm</key>
		<string>±</string>
		<key>mp</key>
		<string>∓</string>
		<key>sqrt</key>
		<string>√</string>
		<key>int</key>
		<string>∫</string>
		<key>in</key>
		<string>∈</string>
		<key>times</key>
		<string>×</string>
		<key>prod</key>
		<string>Π</string>
		<key>ell</key>
		<string>ℓ</string>
		<key>perp</key>
		<string>⟂</string>
		<key>hbar</key>
		<string>ħ</string>
		<key>approx</key>
		<string>≈</string>
		<key>propto</key>
		<string>&lt;span style=&quot;font-size:175%&quot;&gt;∝&lt;/span&gt;</string>
		<key>sim</key>
		<string>〜</string>
		<key>prime</key>
		<string>&apos;</string>
		<key>circ</key>
		<string>o</string>
		<key>wedge</key>
		<string>∧</string>
		<key>vee</key>
		<string>∨</string>
	</dict>
	<key>htmlTeXMacrosWithOneArgument</key>
	<dict>
		<key>bar</key>
		<string>&lt;span class=&quot;overline&quot;&gt;$1&lt;/span&gt;</string>
		<key>overline</key>
		<string>&lt;span class=&quot;overline&quot;&gt;$1&lt;/span&gt;</string>
	</dict>
	<key>syncWithMobileMe</key>
	<false/>
	<key>htmlTeXMacrosWithoutArgumentsWhichRequireBackSlash</key>
	<array>
		<string>ll</string>
		<string>gg</string>
	</array>
	<key>abbreviations</key>
	<array>
		<string>AdS</string>
		<string>ADE</string>
		<string>ADHM</string>
		<string>ALE</string>
		<string>BCFT</string>
		<string>BFKL</string>
		<string>BMN</string>
		<string>BMPV</string>
		<string>BPS</string>
		<string>BRST</string>
		<string>BTZ</string>
		<string>CFT</string>
		<string>CP</string>
		<string>CPT</string>
		<string>DGLAP</string>
		<string>DLCQ</string>
		<string>GUT</string>
		<string>II</string>
		<string>II.</string>
		<string>IIA</string>
		<string>IIB</string>
		<string>IR</string>
		<string>PCAC</string>
		<string>QCD</string>
		<string>QFT</string>
		<string>RG</string>
		<string>SCFT</string>
		<string>SUSY</string>
		<string>TBA</string>
		<string>TCP</string>
		<string>UV</string>
		<string>WDVV</string>
		<string>WMAP</string>
		<string>WZW</string>
		<string>WZNW</string>
	</array>
	<key>prepositions</key>
	<array>
		<string>a</string>
		<string>among</string>
		<string>and</string>
		<string>an</string>
		<string>are</string>
		<string>as</string>
		<string>at</string>
		<string>by</string>
		<string>during</string>
		<string>for</string>
		<string>from</string>
		<string>in</string>
		<string>into</string>
		<string>is</string>
		<string>of</string>
		<string>on</string>
		<string>over</string>
		<string>the</string>
		<string>to</string>
		<string>via</string>
		<string>with</string>
		<string>without</string>
	</array>
	<key>spiresQueryTrailer</key>
	<string></string>
	<key>arXivMirrors</key>
	<array>
		<string></string>
		<string>au.</string>
		<string>br.</string>
		<string>cn.</string>
		<string>de.</string>
		<string>es.</string>
		<string>fr.</string>
		<string>il.</string>
		<string>in.</string>
		<string>it.</string>
		<string>jp.</string>
		<string>kr.</string>
		<string>tw.</string>
		<string>ru.</string>
		<string>uk.</string>
		<string>aps.</string>
		<string>lanl.</string>
	</array>
	<key>mirrorToUse</key>
	<string></string>
	<key>pdfDir</key>
	<string>~/Desktop</string>
	<key>arXivWaitInSeconds</key>
	<integer>5</integer>
	<key>CoreDataStoreType</key>
	<string>.sqlite</string>
	<key>askBeforeDownloadingPDF</key>
	<true/>
	<key>bibType</key>
	<string>bibtex</string>
</dict>
</plist>
