<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviations</key>
	<array>
		<string>AdS</string>
		<string>ADE</string>
		<string>ADHM</string>
		<string>ALE</string>
		<string>ATIC</string>
		<string>BCFT</string>
		<string>BFKL</string>
		<string>BMN</string>
		<string>BMPV</string>
		<string>BPS</string>
		<string>BRST</string>
		<string>BTZ</string>
		<string>CFT</string>
		<string>CP</string>
		<string>CPT</string>
		<string>DGLAP</string>
		<string>DLCQ</string>
		<string>eV</string>
		<string>GUT</string>
		<string>GeV</string>
		<string>I</string>
		<string>II</string>
		<string>II.</string>
		<string>III</string>
		<string>IV</string>
		<string>VI</string>
		<string>VII</string>
		<string>VIII</string>
		<string>IX</string>
		<string>IIA</string>
		<string>IIB</string>
		<string>IR</string>
		<string>keV</string>
		<string>MeV</string>
		<string>meV</string>
		<string>MSSM</string>
		<string>nMSSM</string>
		<string>NMSSM</string>
		<string>NS</string>
		<string>PAMELA</string>
		<string>PCAC</string>
		<string>PeV</string>
		<string>QCD</string>
		<string>QFT</string>
		<string>RG</string>
		<string>SCFT</string>
		<string>SO-USp</string>
		<string>SUSY</string>
		<string>TBA</string>
		<string>TCP</string>
		<string>TeV</string>
		<string>UV</string>
		<string>WDVV</string>
		<string>WIMP</string>
		<string>WMAP</string>
		<string>WZW</string>
		<string>WZNW</string>
	</array>
	<key>AIPJournals</key>
	<array>
		<string>J.Math.Phys.</string>
		<string>Appl.Phys.Lett.</string>
		<string>J.Appl.Phys.</string>
		<string>Rev.Sci.Instrum.</string>
		<string>AIP Conf.Proc.</string>
	</array>
	<key>AnnualReviewJournals</key>
	<array>
		<string>Ann.Rev.Nucl.Part.Sci.</string>
		<string>Ann.Rev.Astron.Astrophys.</string>
	</array>
	<key>APSJournals</key>
	<array>
		<string>Phys.Rev.</string>
		<string>Phys.Rev.Lett.</string>
		<string>Rev.Mod.Phys.</string>
		<string>Physics</string>
	</array>
	<key>articleViewFontName</key>
	<string>Optima</string>
	<key>articleViewFontSize</key>
	<integer>10</integer>
	<key>arXivMirrors</key>
	<array>
		<string></string>
		<string>au.</string>
		<string>br.</string>
		<string>cn.</string>
		<string>de.</string>
		<string>es.</string>
		<string>fr.</string>
		<string>il.</string>
		<string>in.</string>
		<string>it.</string>
		<string>jp.</string>
		<string>kr.</string>
		<string>tw.</string>
		<string>ru.</string>
		<string>uk.</string>
		<string>aps.</string>
		<string>lanl.</string>
	</array>
	<key>arXivWaitInSeconds</key>
	<integer>2</integer>
	<key>arXivAutoQueryWaitInSeconds</key>
	<integer>5</integer>
	<key>inspireWaitInSeconds</key>
	<integer>3</integer>
	<key>askBeforeDownloadingPDF</key>
	<false/>
	<key>batchImportCap</key>
	<string>500</string>
	<key>bibType</key>
	<string>bibtex</string>
	<key>CoreDataStoreType</key>
	<string>.sqlite</string>
	<key>databaseToUse</key>
	<string>inspire</string>
	<key>eagerMetadataQueryThreshold</key>
	<integer>5</integer>
	<key>ElsevierJournals</key>
	<array>
		<string>Phys.Lett.</string>
		<string>Nucl.Phys.</string>
		<string>Nucl.Phys.Proc.Suppl.</string>
		<string>Annals Phys.</string>
		<string>Ann.Phys.</string>
		<string>Phys.Rept.</string>
		<string>J.Comput.Phys.</string>
		<string>Rept.Math.Phys.</string>
		<string>Prog.Part.Nucl.Phys.</string>
		<string>Comput.Phys.Commun.</string>
		<string>Chaos Solitons Fractals</string>
		<string>Opt.Commun.</string>
		<string>Geochim.Cosmochim.Acta</string>
		<string>Comptes Rendus Physique</string>
		<string>Cryogenics</string>
		<string>Physica</string>
		<string>Atom.Data Nucl.Data Tabl.</string>
		<string>Astropart.Phys.</string>
		<string>Annales Henri Poincare</string>
		<string>Thin Solid Films</string>
		<string>Appl.Surf.Sci.</string>
		<string>Nucl.Instrum.Meth.</string>
		<string>Vacuum</string>
	</array>
	<key>IOPJournals</key>
	<array>
		<string>Class.Quant.Grav.</string>
		<string>J.Phys.</string>
		<string>Chin.Phys.</string>
		<string>Astron.J.</string>
		<string>Astrophys.J.</string>
		<string>Astrophys.J.Suppl.</string>
		<string>Astrophys.J.Lett.</string>
		<string>Europhys.Lett.</string>
		<string>Phys.Scripta</string>
		<string>Rept.Progr.Phys.</string>
		<string>Phys.Usp.</string>
		<string>J.Phys.Conf.Ser.</string>
	</array>
	<key>isOnline</key>
	<true/>
	<key>mirrorToUse</key>
	<string></string>
	<key>particles</key>
	<array>
		<string>&apos;t</string>
		<string>de</string>
		<string>del</string>
		<string>den</string>
		<string>di</string>
		<string>le</string>
		<string>van</string>
		<string>von</string>
	</array>
	<key>pdfDir</key>
	<string>~/Desktop</string>
	<key>limitAuthorCount</key>
	<false/>
	<key>prepositions</key>
	<array>
		<string>a</string>
		<string>among</string>
		<string>and</string>
		<string>an</string>
		<string>are</string>
		<string>as</string>
		<string>at</string>
		<string>by</string>
		<string>during</string>
		<string>for</string>
		<string>from</string>
		<string>in</string>
		<string>into</string>
		<string>is</string>
		<string>of</string>
		<string>on</string>
		<string>over</string>
		<string>the</string>
		<string>to</string>
		<string>via</string>
		<string>with</string>
		<string>without</string>
	</array>
	<key>PTPJournals</key>
	<array>
		<string>Prog.Theor.Phys.</string>
		<string>Prog.Theor.Phys.Suppl.</string>
	</array>
	<key>regExpsForUniversityLibrary</key>
	<dict>
		<key>IAS</key>
		<array>
			<string>http://</string>
			<string>https://libserv7.princeton.edu:82/ias/nph-pul2.cgi/000000A/http/</string>
		</array>
		<key>None</key>
		<array>
			<string>http://</string>
			<string>http://</string>
		</array>
		<key>UT Austin</key>
		<array>
			<string>http://([^/]*?)/</string>
			<string>http://$1.ezproxy.lib.utexas.edu/</string>
		</array>
	</dict>
	<key>shouldBackUpDatabaseInTimeMachine</key>
	<true/>
	<key>showDistractingMessage</key>
	<true/>
	<key>spiresQueryTrailer</key>
	<string></string>
	<key>SpringerJournals</key>
	<array>
		<string>Commun.Math.Phys.</string>
		<string>Comm.Math.Phys.</string>
		<string>Nuovo Cim.</string>
		<string>Z.Phys.</string>
		<string>Acta Phys.Hung.</string>
		<string>Astron.Astrophys.</string>
		<string>Astron.Astrophys.Rev.</string>
		<string>Astron.Lett.</string>
		<string>Astron.Rep.</string>
		<string>Astrophysics</string>
		<string>Astrophys.Space Sci.</string>
		<string>Eur.Phys.J.</string>
		<string>Exper.Astron.</string>
		<string>Found.Phys.</string>
		<string>Found.Phys.Lett.</string>
		<string>Front.Phys.China</string>
		<string>Gen.Rel.Grav.</string>
		<string>Int.J.Theor.Phys.</string>
		<string>JETP Lett.</string>
		<string>J.Astrophys.Astron.</string>
		<string>J.Exp.Theor.Phys.</string>
		<string>J.Statist.Phys.</string>
		<string>Lett.Math.Phys.</string>
		<string>Math.Phys.Anal.Geom.</string>
		<string>Phys.Atom.Nucl.</string>
		<string>Phys.Part.Nucl.</string>
		<string>Phys.Part.Nucl.Lett.</string>
		<string>Pramana</string>
		<string>Russ.Phys.J.</string>
		<string>Solar Phys.</string>
		<string>Space Sci.Rev.</string>
		<string>Theor.Math.Phys.</string>
		<string>JHEP</string>
	</array>
	<key>syncWithMobileMe</key>
	<true/>
	<key>texBinaryPath</key>
	<string>/opt/local/bin:/sw/bin:/usr/texbin:/usr/local/bin:/usr/local/teTeX/bin/powerpc-apple-darwin-current:/usr/local/teTeX/bin/i386-apple-darwin-current:/usr/bin:/bin</string>
	<key>tryToDownloadJournalPDF</key>
	<true/>
	<key>turnOnOfflineMenuItem</key>
	<string>Turn Offline</string>
	<key>universityLibraryToGetPDF</key>
	<string>None</string>
	<key>unreadTimerDelay</key>
	<integer>1</integer>
	<key>UpdaterWillFollowUnstableVersions</key>
	<false/>
	<key>WSJournals</key>
	<array>
		<string>Int.J.Mod.Phys.</string>
		<string>Mod.Phys.Lett.</string>
		<string>Rev.Math.Phys.</string>
		<string>Int.J.Geom.Meth.Mod.Phys.</string>
	</array>
</dict>
</plist>
