<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>137.4.0.105545</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2008-10-20 11:39:46 -0400</string>
	<key>Creator</key>
	<string>Yuji</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{98.6478, 149}, {251.822, 171}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>HFlip</key>
					<string>YES</string>
					<key>ID</key>
					<integer>13</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.489127, 0.0457245}</string>
							<string>{-0.528836, 0.227013}</string>
							<string>{-0.457352, 0.303028}</string>
							<string>{-0.3144, 0.396602}</string>
							<string>{-0.171442, 0.49017}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.246308, 0.363629}</string>
							<string>{-0.246601, 0.160817}</string>
							<string>{-0.246892, -0.0419949}</string>
							<string>{0.00759012, -0.2193}</string>
							<string>{0.0949539, -0.277779}</string>
							<string>{0.182319, -0.336255}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.122416, -0.39872}</string>
							<string>{-0.0638891, -0.312869}</string>
							<string>{-0.250196, -0.227012}</string>
							<string>{-0.449416, -0.135562}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Fuzziness</key>
							<real>19.482284545898438</real>
							<key>ShadowVector</key>
							<string>{6, 6}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>VFlip</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{88, 50.3624}, {251.822, 171}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>14</integer>
					<key>Shape</key>
					<string>Bezier</string>
					<key>ShapeData</key>
					<dict>
						<key>UnitPoints</key>
						<array>
							<string>{-0.489127, 0.0457245}</string>
							<string>{-0.528836, 0.227013}</string>
							<string>{-0.457352, 0.303028}</string>
							<string>{-0.3144, 0.396602}</string>
							<string>{-0.171442, 0.49017}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.000353515, 0.5}</string>
							<string>{-0.246308, 0.363629}</string>
							<string>{-0.246601, 0.160817}</string>
							<string>{-0.246892, -0.0419949}</string>
							<string>{0.00759012, -0.2193}</string>
							<string>{0.0949539, -0.277779}</string>
							<string>{0.182319, -0.336255}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.5, -0.5}</string>
							<string>{0.122416, -0.39872}</string>
							<string>{-0.0638891, -0.312869}</string>
							<string>{-0.250196, -0.227012}</string>
							<string>{-0.449416, -0.135562}</string>
						</array>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Beneath</key>
							<string>YES</string>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.75</string>
								<key>b</key>
								<string>1</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>1</string>
							</dict>
							<key>Fuzziness</key>
							<real>19.482284545898438</real>
							<key>ShadowVector</key>
							<string>{6, 6}</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{197, 438}, {275, 275}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{53.7939, 32.2597}, {330.882, 305.843}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Times-BoldItalic</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.701516</string>
						<key>r</key>
						<string>0.0620351</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>44</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.678571</string>
						<key>g</key>
						<string>0.476029</string>
						<key>r</key>
						<string>0.0420953</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.75</string>
						<key>b</key>
						<string>0.403061</string>
						<key>g</key>
						<string>0.403061</string>
						<key>r</key>
						<string>0.403061</string>
					</dict>
					<key>Fuzziness</key>
					<real>21.753595352172852</real>
					<key>ShadowVector</key>
					<string>{6, 9}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>50</real>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.ico</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2008-10-20 17:51:09 -0400</string>
	<key>Modifier</key>
	<string>Yuji</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{28, 111}, {710, 871}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {575, 733}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
